extends layout

block content
  h1= title
  form(method='get')
    input(type='text' value=search name="search")
    button(type="submit") Szukaj
  
  each item in data
    article
      h1=item.title
      small=item.created
      p=item.description
